*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


 /*Landing page*/

:root{
  --max-content-width:1980px;
  --primary-color:  #FFF;
  --secondary-color: #000;
}
.Landing_section{
  width: 100%;
  height: 740px;
  background-image: url(../assert/0_A-min.jpeg);
  background-size: 100%;
  /* object-fit: contain; */
  max-width:var(--max-content-width);
  
}
.navigation{
  display: flex;
  background-color: aqua;
  justify-content: flex-end;
 
  
}


.nav_list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-right: 10px; 


}

.nav_list-item{
  display: flex;
  margin-right: 0;
  padding-left: 20px;
  text-align: center;
  
}
 .nav_list-item:hover{
  background-color: white;
  
} 


   
.inner-container{
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left:  auto;
  margin-top: 150px; 
  
}
.profile{
  color: #FFF;
  font-size: 20px;
} 


/* About Me*/ 